@charset "UTF-8";
html, body, #app {
  height: 100%;
  margin: 0;
  font-family: "微軟正黑體";
}

.control {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}
.control .check {
  margin-top: -20px;
}
.control .text {
  width: 100%;
  text-align: center;
}

.box {
  display: flex;
  justify-content: center;
  align-items: top;
  flex-wrap: wrap;
  padding: 40px;
}

.cards {
  border: 1px solid rgba(89, 100, 117, 0.2);
  border-radius: 15px;
  margin: 5px;
}
.cards:hover {
  box-shadow: 3px 5px 10px rgba(89, 100, 117, 0.1);
  -webkit-transform: translate(-3px, -3px);
          transform: translate(-3px, -3px);
  transition: 0.5s;
}
.cards .card {
  padding: 10px;
  text-align: center;
}
.cards .card .cover {
  width: 220px;
}
.cards .card .info {
  padding: 3px;
}
.cards .card .info h3 {
  margin: 0;
}

.highlight {
  background-color: #fff387;
}
