#app
  .control
    .search
      label 關鍵字: 
      input(v-model="keyword")

    h4.text 總共有{{filtered_card.length}}張護符
    .check
      input(type="checkbox" v-model="rarity_list" value="2")
      label
        img(src="https://dragalialost.gamepedia.com/images/d/d2/Icon_Rarity_2.png" height="20px")
      input(type="checkbox" v-model="rarity_list" value="3" )
      label
        img(src="https://dragalialost.gamepedia.com/images/b/b4/Icon_Rarity_3.png" height="20px")
      input(type="checkbox" v-model="rarity_list" value="4")
      label
        img(src="https://dragalialost.gamepedia.com/images/7/7d/Icon_Rarity_4.png" height="20px")
      input(type="checkbox" v-model="rarity_list" value="5")
      label
        img(src="https://dragalialost.gamepedia.com/images/4/4e/Icon_Rarity_5.png" height="20px")
  .box
    cardbox(v-bind:cards="p" v-for="p in filtered_card")

template#post
  .cards
    .card
      img.cover(:src="card.img_url")
      .info
        h4(v-html="card.title")
        p.content(v-html="c" v-for="c in card.content") {{c}}