<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>daralia_test1</title>
  
  
  
      <link rel="stylesheet" href="css/style.css">

  
</head>

<body>

  
<div id="app">
  <div class="control check">
    <input type="checkbox" value="2"/>
    <label><img src="https://dragalialost.gamepedia.com/images/d/d2/Icon_Rarity_2.png" height="20px"/></label>
    <input type="checkbox" value="3"/>
    <label><img src="https://dragalialost.gamepedia.com/images/b/b4/Icon_Rarity_3.png" height="20px"/></label>
    <input type="checkbox" value="4"/>
    <label><img src="https://dragalialost.gamepedia.com/images/7/7d/Icon_Rarity_4.png" height="20px"/></label>
    <input type="checkbox" value="5"/>
    <label><img src="https://dragalialost.gamepedia.com/images/4/4e/Icon_Rarity_5.png" height="20px"/></label>
  </div>
  <div class="control search">
    <label>效果關鍵字: </label>
    <input v-model="keyword"/>
  </div>
  <h4 v-if="keyword">以下為搜尋 {{keyword}} 的項目</h4>
  <div class="cards">
    <div class="card" v-for="card in cards" v-if="search(card)"><img class="cover" :src="card.img_url"/>
      <div class="info">
        <h3>{{card.title}}</h3>
        <p class="content" v-for="content in card.content">{{content}}</p>
      </div>
    </div>
  </div>
</div>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.5.1/vue-resource.min.js'></script>

  

    <script  src="js/index.js"></script>




</body>

</html>
